version: "3.8"

services:
  bitebot-server:
    image: bitebot
    build:
      context: ./
    ports:
      - "12350:4000"
    platform: linux/arm64/v8
    volumes:
      - bitebot-data:/data
    restart: unless-stopped
    # todo this should maybe be moved to secrets
volumes:
  bitebot-data:
